doctype html
html(lang="en")
  head
    title="URL Shortener"
  body
    h2 URL shortener at your service :)
    form(method="POST", action="/")
      input(type="hidden", name="_method", value="PUT")
      p URL
        input(type="text", name="url")
        input(type="submit")
