doctype html
html(lang="en")
  head
    title="URL Shortener"
  body
    h2 URL shortener at your service
    form(method="POST", action="/urlconverted")
      p
        input(type="text", placeholder="Enter URL", name="url")
        input(type="submit")
